<div class="mt-5 mb-0 jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HowMoney</h1>
    <p class="lead">
      How are your money? With this website you can easilly track all your
      assets (not only currencies, but also cryptocurrencies and metals). You
      can also use mobile app for <span class="badge badge-primary">iOS</span>!
    </p>
    <p class="lead">We hope that you will be satisfied.</p>
  </div>
</div>
<div>
  <img
    class="d-block w-100"
    src="../assets/images/we-care.png"
    alt="Slide with a man growing plants and sentence: We care about your money!"
  />
</div>
