<div id="div-frame" class="input-group mb-3 rounded">
  <p class="heading">Add asset</p>
  <div class="input">
    <div class="input-group-prepend rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">Type</span>
    </div>
    <input type="text" class="form-control" aria-label="Type" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input">
    <div class="input-group-prepend rounded">
      <span class="input-group-text" id="inputGroup-sizing-default">Amount</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount" aria-describedby="inputGroup-sizing-default">
  </div>
  <input class="rounded" type="submit" value="Add">
  </div>
