$backgorung-color: #f9f6ff;

#app-name {
  font-size: 1.2em;
}

#nav-menu {
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Roboto';
  height:11vh;
  background-color: $backgorung-color;
}

.dropdown-item {
  font-size: 1.1em;
  font-weight: 420;
  font-family:'Roboto';
}

li a {
  color: black;
  background-color: $backgorung-color;
}

// .navbar {
//   z-index: 9999;
// }
