#main-menu {
  margin:2px;
  margin-top: 3%;
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Roboto';
  height:2em;
  line-height:1.2em;
}

li a {
  color: black;
}

li a:hover {
  color: #918BC6;
}
