p {
  font-family:'Roboto';
  color: black;
}

#heading {
  max-width: 100vw;
}

#profile {
  margin:2px;
  margin-top: 3%;
  font-size: 1.4em;
  font-weight: bold;
  font-family:'Roboto';
  height:2em;
  line-height:1.2em;
  a {
    color: black;
    :hover {
      color: #918BC6;
    }
  }
}

