<div *ngIf="isLoggedIn" class="content">
  <h1 class="text-center mt-4">{{ form.name }}'s Profile</h1>

  <form #f="ngForm" name="form">
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input
          type="text"
          [(ngModel)]="form.name"
          name="name"
          [readonly]="mode == 'view'"
          [ngClass]="mode == 'view' ? 'form-control-plaintext' : 'form-control'"
          id="inputName"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-3 col-form-label">Surame</label>
      <div class="col-sm-9">
        <input
          type="text"
          [(ngModel)]="form.surname"
          name="surname"
          [readonly]="mode == 'view'"
          [ngClass]="mode == 'view' ? 'form-control-plaintext' : 'form-control'"
          id="inputSurname"
          value="{{ userSurname }}"
        />
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input
          type="text"
          [(ngModel)]="form.email"
          name="email"
          [readonly]="mode == 'view'"
          [ngClass]="mode == 'view' ? 'form-control-plaintext' : 'form-control'"
          id="inputEmail"
          value="{{ userEmail }}"
        />
      </div>
    </div> -->
    <div class="form-group row">
      <label class="col-sm-3 col-form-label" for="currencyPreference"
        >Currency preference</label
      >
      <div class="col-sm-9">
        <select
          class="form-select mb-3"
          [(ngModel)]="form.currencyPreference"
          name="currencyPreference"
          [disabled]="mode == 'view'"
          [ngClass]="mode == 'view' ? 'form-control-plaintext' : 'form-control'"
        >
          <option
            *ngFor="let currency of currencyPreferences"
            [selected]="userCurrencyPreference == currency"
            value="{{ currency }}"
          >
            {{ currency }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row justify-content-between">
      <button
        class="btn btn-primary"
        *ngIf="mode == 'edit'"
        (click)="cancelEditProfile()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        *ngIf="mode != 'edit'"
        title="add asset"
        data-toggle="modal"
        data-target="#modalChangePassword"
      >
        Change password
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        id="editProfileButton"
        (click)="editProfile()"
      >
        {{ mode == "view" ? "Edit" : "Save" }}
      </button>
    </div>
  </form>

</div>

<div *ngIf="!isLoggedIn" class="content">
  <h1 class="text-center mt-4">
    You have to be logged in to see this content.
  </h1>
</div>


<!-- Modal change password -->
<div
  class="modal fade"
  id="modalChangePassword"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Change Password"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5" id="changePassword">
          Change password
      </p>
        <button
          type="button"
          class="close"
          id="closeModalChangePassword"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" name="formChangePassword" (submit)="onSubmitChangePassword()">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="formChangePassword.password"
              required
              minlength="1"
              #password="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="password.errors && formChangePassword.submitted"
            >
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 1 character
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">New password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="formChangePassword.newPassword"
              required
              minlength="1"
              #newPassword="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="newPassword.errors && formChangePassword.submitted"
            >
              <div *ngIf="newPassword.errors['required']">Password is required</div>
              <div *ngIf="newPassword.errors['minlength']">
                Password must be at least 1 character
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Confirm new password</label>
            <input
              type="password"
              class="form-control"
              name="newPasswordConfirm"
              [(ngModel)]="formChangePassword.newPasswordConfirm"
              required
              minlength="1"
              #newPasswordConfirm="ngModel"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="newPasswordConfirm.errors && formChangePassword.submitted"
            >
              <div *ngIf="newPasswordConfirm.errors['required']">Password is required</div>
              <div *ngIf="newPasswordConfirm.errors['minlength']">
                Password must be at least 1 character
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Change password</button>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isChangingPasswordFailed"
            >
              {{ errorMessage }}
            </div>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isPasswordChanged">
          Password changed succesfully.
        </div>
      </div>
    </div>
  </div>
</div>
